# Python 的 50+ 練習：資料科學學習手冊

> 文字資料操作

[數據交點](https://www.datainpoint.com) | 郭耀仁 <yaojenkuo@datainpoint.com>

## 練習題指引

- 練習題閒置超過 10 分鐘會自動斷線，只要重新點選練習題連結即可重新啟動。
- 第一個程式碼儲存格會將可能用得到的模組載入。
- 如果練習題需要載入檔案，檔案存放絕對路徑為 `/home/jovyan/data`
- 練習題已經給定函數、類別、預期輸入或參數名稱，我們只需要寫作程式區塊。同時也給定函數的類別提示，說明預期輸入以及預期輸出的類別。
- 說明（Docstring）會描述測試如何進行，閱讀說明能夠暸解預期輸入以及預期輸出之間的關係，幫助我們更快解題。
- 請在 `### BEGIN SOLUTION` 與 `### END SOLUTION` 這兩個註解之間寫作函數或者類別的程式區塊。
- 將預期輸出放置在 `return` 保留字之後，若只是用 `print()` 函數將預期輸出印出無法通過測試。
- 語法錯誤（`SyntaxError`）或縮排錯誤（`IndentationError`）等將會導致測試失效，測試之前應該先在筆記本使用函數觀察是否與說明（Docstring）描述的功能相符。
- 如果卡關，可以先看練習題詳解或者複習課程單元影片之後再繼續寫作。
- 執行測試的步驟：
    1. 點選上方選單的 File -> Save Notebook 儲存 exercises.ipynb。
    2. 點選上方選單的 File -> New -> Terminal 開啟終端機。
    3. 在 Terminal 輸入 `cd ~` 切換回家目錄。
    4. 在 Terminal 輸入 `python 16-working-with-text/test_runner.py` 後按下 Enter 執行測試。

In [3]:
import re
import numpy as np
import pandas as pd

## 131. 轉換英文字母為 ASCII 整數

定義函數 `convert_character_to_int()` 將輸入的英文子母轉換為 ASCII 整數。

來源：<https://en.wikipedia.org/wiki/ASCII>

- 使用內建函數 `ord()` <https://docs.python.org/3/library/functions.html#ord>
- 將預期輸出寫在 `return` 之後。

In [4]:
def convert_character_to_int(x: str) -> int:
    """
    >>> convert_character_to_int("A")
    65
    >>> convert_character_to_int("M")
    77
    >>> convert_character_to_int("N")
    78
    >>> convert_character_to_int("Z")
    90
    >>> convert_character_to_int("a")
    97
    >>> convert_character_to_int("m")
    109
    >>> convert_character_to_int("n")
    110
    >>> convert_character_to_int("z")
    122
    """
    ### BEGIN SOLUTION
    return ord(x)
    ### END SOLUTION

In [5]:
# convert_character_to_int("N")

78

## 132. 轉換整數為英文字母

定義函數 `convert_int_to_character()` 將輸入介於 65 到 90、97 到 122 之間的整數轉換為英文字母。

來源：<https://en.wikipedia.org/wiki/ASCII>

- 使用內建函數 `chr()` <https://docs.python.org/3/library/functions.html#chr>
- 將預期輸出寫在 `return` 之後。

In [6]:
def convert_int_to_character(x: int) -> str:
    """
    >>> convert_int_to_character(65)
    'A'
    >>> convert_int_to_character(77)
    'M'
    >>> convert_int_to_character(78)
    'N'
    >>> convert_int_to_character(90)
    'Z'
    >>> convert_int_to_character(97)
    'a'
    >>> convert_int_to_character(109)
    'm'
    >>> convert_int_to_character(110)
    'n'
    >>> convert_int_to_character(122)
    'z'
    """
    ### BEGIN SOLUTION
    return chr(x)
    ### END SOLUTION

In [7]:
# convert_int_to_character(109)

'm'

## 133. 使用 ROT13 轉換英文字母

定義函數 `rot13_character()` 將輸入的英文字母用 ROT13（迴轉 13 位）的規則轉換。

![](ROT13.png)

來源：<https://en.wikipedia.org/wiki/ROT13>

- 使用內建函數 `ord()` <https://docs.python.org/3/library/functions.html#ord>
- 使用內建函數 `chr()` <https://docs.python.org/3/library/functions.html#chr>
- 運用條件敘述。
- 運用數值運算符。
- 將預期輸出寫在 `return` 之後。

In [32]:
def rot13_character(x: str) -> str:
    """
    >>> rot13_character("A")
    'N'
    >>> rot13_character("M")
    'Z'
    >>> rot13_character("N")
    'A'
    >>> rot13_character("Z")
    'M'
    >>> rot13_character("a")
    'n'
    >>> rot13_character("m")
    'z'
    >>> rot13_character("n")
    'a'
    >>> rot13_character("z")
    'm'
    >>> rot13_character("!")
    '!'
    >>> rot13_character("*")
    '*'
    """
    ### BEGIN SOLUTION
    if 97 <= ord(x) <= 122:
        if ord(x) + 13 > 122:
            return chr(ord(x) - 13)
        else:
            return chr(ord(x) + 13)
    elif 65 <= ord(x) <= 90:
        if ord(x) + 13 > 90:
            return chr(ord(x) - 13)
        else:
            return chr(ord(x) + 13)
    else:
        return x
    ### END SOLUTION

In [16]:
# rot13_character("A")
# rot13_character("m")
# rot13_character("n")
# rot13_character("N")
# rot13_character("*")

'*'

## 134. 使用 ROT13 轉換英文句子

定義函數 `rot13_sentence()` 將輸入的英文句子用 ROT13（迴轉 13 位）的規則轉換。

![](ROT13.png)

來源：<https://en.wikipedia.org/wiki/ROT13>

- 使用 `rot13_character()`
- 運用迴圈。
- 將預期輸出寫在 `return` 之後。

In [43]:
def rot13_sentence(x: str) -> str:
    """
    >>> rot13_sentence("Gur Mra bs Clguba, ol Gvz Crgref")
    'The Zen of Python, by Tim Peters'
    >>> rot13_sentence("The Zen of Python, by Tim Peters")
    'Gur Mra bs Clguba, ol Gvz Crgref'
    >>> rot13_sentence("Abj vf orggre guna arire.")
    'Now is better than never.'
    >>> rot13_sentence("Now is better than never.")
    'Abj vf orggre guna arire.'
    >>> rot13_sentence("Nygubhtu arire vf bsgra orggre guna *evtug* abj.")
    'Although never is often better than *right* now.'
    >>> rot13_sentence("Although never is often better than *right* now.")
    'Nygubhtu arire vf bsgra orggre guna *evtug* abj.'
    """
    ### BEGIN SOLUTION
    data = list()
    for i in x:
        data.append(rot13_character(i))
    data = ''.join(data)
    return data
    ### END SOLUTION

In [44]:
rot13_sentence("Gur Mra bs Clguba, ol Gvz Crgref")

'The Zen of Python, by Tim Peters'

## 135. 使用 ROT13 轉換 Python 禪學（Zen of Python）

定義函數 `rot13_zen_of_python()` 將位於 `/home/jovyan/data` 路徑的 `thispy.txt` 用 ROT13（迴轉 13 位）的規則轉換。

![](ROT13.png)

來源：<https://en.wikipedia.org/wiki/ROT13>

- 使用 `rot13_sentence()`
- 運用 `with` 敘述。
- 使用 `open()` 函數。
- 運用絕對路徑。
- 使用 `TextIOWrapper.readlines()`
- 運用迴圈。
- 使用 `str.strip()`
- 將預期輸出寫在 `return` 之後。

In [134]:
def rot13_zen_of_python() -> list:
    """
    >>> zen_of_python = rot13_zen_of_python()
    >>> type(zen_of_python)
    list
    >>> "Now is better than never." in zen_of_python
    True
    >>> "Although never is often better than *right* now." in zen_of_python
    True
    """
    ### BEGIN SOLUTION
    new_data = list()
    with open('/Users/yitinglu/Documents/PythonCourses/data/thispy.txt') as file:
        data = file.readlines()
    for i in data:
        new_data.append(rot13_sentence(i.strip()))
    return new_data
    ### END SOLUTION

In [136]:
# zen_of_python = rot13_zen_of_python()
# type(zen_of_python)
# #"Now is better than never." in zen_of_python
# # "Although never is often better than *right* now." in zen_of_python

list

## 136. 取代文字中的星號

定義函數 `replace_strs_asterisks()` 將文字中的 `*` 取代。

- 使用 `str.replace()`
- 將預期輸出寫在 `return` 之後。

In [66]:
def replace_strs_asterisks(x: str) -> str:
    """
    >>> replace_strs_asterisks("Taiwan*")
    'Taiwan'
    >>> replace_strs_asterisks("Crimea Republic*")
    'Crimea Republic'
    >>> replace_strs_asterisks("Crimea Republic*, Ukraine")
    'Crimea Republic, Ukraine'
    >>> replace_strs_asterisks("Sevastopol*")
    'Sevastopol'
    >>> replace_strs_asterisks("Sevastopol*, Ukraine")
    'Sevastopol, Ukraine'
    """
    ### BEGIN SOLUTION
    return x.replace("*", "")
    ### END SOLUTION

In [67]:
# replace_strs_asterisks("Taiwan*")

'Taiwan'

## 137. 載入 `UID_ISO_FIPS_LookUp_Table.csv`

定義函數 `import_lookup_table()` 將位於 `/home/jovyan/data/covid19` 路徑的 `UID_ISO_FIPS_LookUp_Table.csv` 載入為一個 `DataFrame`

來源：<https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data>

- 使用絕對路徑。
- 使用 `pd.read_csv()` 函數。
- 將預期輸出寫在 `return` 之後。

In [71]:
def import_lookup_table() -> pd.core.frame.DataFrame:
    """
    >>> lookup_table = import_lookup_table()
    >>> type(lookup_table)
    pandas.core.frame.DataFrame
    >>> lookup_table.shape
    (4215, 12)
    """
    ### BEGIN SOLUTION
    path = '/Users/yitinglu/Documents/PythonCourses/data/UID_ISO_FIPS_LookUp_Table.csv'
    data = pd.read_csv(path)
    return data
    ### END SOLUTION

In [73]:
# lookup_table = import_lookup_table()
# lookup_table.shape

(4215, 12)

## 138. 篩選台灣、克里米亞共和國與塞瓦斯托波爾

定義函數 `import_lookup_table()` 將位於 `/home/jovyan/data/covid19` 路徑的 `UID_ISO_FIPS_LookUp_Table.csv` 中的台灣、克里米亞共和國與塞瓦斯托波爾篩選出來。

來源：<https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data>

- 使用 `import_lookup_table()` 函數。
- 運用篩選觀測值的技巧。
- 將預期輸出寫在 `return` 之後。

In [113]:
def filter_taiwan_crimea_sevastopol() -> pd.core.frame.DataFrame:
    """
    >>> taiwan_crimea_sevastopol = filter_taiwan_crimea_sevastopol()
    >>> type(taiwan_crimea_sevastopol)
    pandas.core.frame.DataFrame
    >>> taiwan_crimea_sevastopol.shape
    (3, 12)
    >>> taiwan_crimea_sevastopol
           UID iso2 iso3  code3  FIPS Admin2    Province_State Country_Region  \
    680    158   TW  TWN  158.0   NaN    NaN               NaN        Taiwan*   
    695  80404   UA  UKR  804.0   NaN    NaN  Crimea Republic*        Ukraine   
    711  80420   UA  UKR  804.0   NaN    NaN       Sevastopol*        Ukraine   

             Lat     Long_               Combined_Key  Population  
    680  23.7000  121.0000                    Taiwan*  23816775.0  
    695  45.2835   34.2008  Crimea Republic*, Ukraine   1913731.0  
    711  44.6054   33.5220       Sevastopol*, Ukraine    443211.0 
    """
    ### BEGIN SOLUTION
    data = import_lookup_table()
    data_cond = data['Combined_Key'].str.contains('Taiwan|Crimea Republic|Sevastopol')
    return data[data_cond]
    ### END SOLUTION

In [116]:
# taiwan_crimea_sevastopol = filter_taiwan_crimea_sevastopol()
# type(taiwan_crimea_sevastopol)
# taiwan_crimea_sevastopol.shape
# taiwan_crimea_sevastopol

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
680,158,TW,TWN,158.0,NaN,NaN,NaN,Taiwan*,23.7000,121.0000,Taiwan*,23816775.0
695,80404,UA,UKR,804.0,NaN,NaN,Crimea Republic*,Ukraine,45.2835,34.2008,"Crimea Republic*, Ukraine",1913731.0
711,80420,UA,UKR,804.0,NaN,NaN,Sevastopol*,Ukraine,44.6054,33.5220,"Sevastopol*, Ukraine",443211.0

## 139. 取代 `Series` 中的星號

定義函數 `replace_series_asterisks()` 將 `Series` 中的 `*` 取代。

- 使用 `Series.str.replace()`。
- 如果指定參數 `regex=True` 要注意 `*` 是正規表達式的特殊字元。
- 將預期輸出寫在 `return` 之後。

In [117]:
def replace_series_asterisks(x: pd.core.series.Series) -> pd.core.series.Series:
    """
    >>> province_states = pd.Series([np.nan, "Crimea Republic*", "Sevastopol*"])
    >>> replace_series_asterisks(province_states)
    0                NaN
    1    Crimea Republic
    2         Sevastopol
    dtype: object
    >>> country_regions = pd.Series(["Taiwan*", "Ukraine", "Ukraine"])
    >>> replace_series_asterisks(country_regions)
    0     Taiwan
    1    Ukraine
    2    Ukraine
    dtype: object
    >>> combined_keys = pd.Series(["Taiwan*", "Crimea Republic*, Ukraine", "Sevastopol*, Ukraine"])
    >>> replace_series_asterisks(combined_keys)
    0                      Taiwan
    1    Crimea Republic, Ukraine
    2         Sevastopol, Ukraine
    dtype: object
    """
    ### BEGIN SOLUTION
    new_string = x.str.replace('*',"")
    return new_string
    ### END SOLUTION

In [121]:
# province_states = pd.Series([np.nan, "Crimea Republic*", "Sevastopol*"])
# replace_series_asterisks(province_states)
# country_regions = pd.Series(["Taiwan*", "Ukraine", "Ukraine"])
# replace_series_asterisks(country_regions)

/var/folders/qf/4fsz_nrd4mn7282yrvnt2k200000gn/T/ipykernel_67338/451954117.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_string = x.str.replace('*',"")

0     Taiwan
1    Ukraine
2    Ukraine
dtype: object

## 140. 輸出沒有星號的 `lookup_table.csv`

定義函數 `export_lookup_table()` 將位於 `/home/jovyan/data/covid19` 路徑的 `UID_ISO_FIPS_LookUp_Table.csv` 載入後，取代 `Province_State`、`Country_Region` 與 `Combined_Key` 欄位中的星號後，在工作目錄輸出 `lookup_table.csv`

來源：<https://github.com/CSSEGISandData/COVID-19/tree/master/csse_covid_19_data>

- 使用 `import_lookup_table()` 函數。
- 使用 `replace_series_asterisks()` 函數。
- 運用 `DataFrame.to_csv("lookup_table.csv", index=False)` 在工作目錄輸出 `DataFrame` 為 `lookup_table.csv`

In [126]:
def export_lookup_table() -> None:
    """
    >>> export_lookup_table()
    >>> lookup_table = pd.read_csv("lookup_table.csv")
    >>> condition = lookup_table["Combined_Key"].isin(["Taiwan", "Crimea Republic, Ukraine", "Sevastopol, Ukraine"])
    >>> lookup_table[condition]
           UID iso2 iso3  code3  FIPS Admin2   Province_State Country_Region  \
    680    158   TW  TWN  158.0   NaN    NaN              NaN         Taiwan   
    695  80404   UA  UKR  804.0   NaN    NaN  Crimea Republic        Ukraine   
    711  80420   UA  UKR  804.0   NaN    NaN       Sevastopol        Ukraine   

             Lat     Long_              Combined_Key  Population  
    680  23.7000  121.0000                    Taiwan  23816775.0  
    695  45.2835   34.2008  Crimea Republic, Ukraine   1913731.0  
    711  44.6054   33.5220       Sevastopol, Ukraine    443211.0
    """
    ### BEGIN SOLUTION
    data = import_lookup_table()
    data['Province_State'] = replace_series_asterisks(data['Province_State'])
    data['Country_Region'] = replace_series_asterisks(data['Country_Region'])
    data['Combined_Key'] = replace_series_asterisks(data['Combined_Key'])
    data.to_csv("lookup_table.csv", index=False)
    ### END SOLUTION

In [130]:
# export_lookup_table()
# lookup_table = pd.read_csv("lookup_table.csv")
# condition = lookup_table["Combined_Key"].isin(["Taiwan", "Crimea Republic, Ukraine", "Sevastopol, Ukraine"])
# lookup_table[condition]

/var/folders/qf/4fsz_nrd4mn7282yrvnt2k200000gn/T/ipykernel_67338/451954117.py:23: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  new_string = x.str.replace('*',"")

,UID,iso2,iso3,code3,FIPS,Admin2,Province_State,Country_Region,Lat,Long_,Combined_Key,Population
680,158,TW,TWN,158.0,NaN,NaN,NaN,Taiwan,23.7000,121.0000,Taiwan,23816775.0
695,80404,UA,UKR,804.0,NaN,NaN,Crimea Republic,Ukraine,45.2835,34.2008,"Crimea Republic, Ukraine",1913731.0
711,80420,UA,UKR,804.0,NaN,NaN,Sevastopol,Ukraine,44.6054,33.5220,"Sevastopol, Ukraine",443211.0